{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Tarefas pendentes {% endblock %}

{% block content %}
  <div class="h-100 p-5 bg-light border rounded-3">
    <h1>Adicionar Tarefas</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy}}
      <br>
      <input type="submit" class="btn btn-primary" value="Salvar">
    </form>
    <hr>
    <h1>Tarefas pendente</h1>
    <div class="list-group">
      {% for tarefa in tarefas_pendentes %}
        {% if tarefa.categorias == 'urgente' %}
          <button type="button" class="list-group-item list-group-item-action list-group-item-danger" data-bs-toggle='modal'data-bs-target='#modal{{tarefa.id}}'>
            <h5 class="text-black"> {{ tarefa.descricao }} </h5>
            <small class="text-black">Criado em: {{ tarefa.criacao.day }} / {{ tarefa.criacao.month }} / {{ tarefa.criacao.year }}</small>
          </button>
        {% else %}
          {% if tarefa.categorias == 'importante' %}
            <button type="button" class="list-group-item list-group-item-action list-group-item-warning" data-bs-toggle='modal'data-bs-target='#modal{{tarefa.id}}'>
              <h5 class="text-black"> {{ tarefa.descricao }} </h5>
              <small class="text-black">Criado em: {{ tarefa.criacao.day }} / {{ tarefa.criacao.month }} / {{ tarefa.criacao.year }}</small>
            </button>
          {% else %}
            <button type="button" class="list-group-item list-group-item-action list-group-item-primary" data-bs-toggle='modal'data-bs-target='#modal{{tarefa.id}}'>
              <h5 class="text-black"> {{ tarefa.descricao }} </h5>
              <small class="text-black">Criado em: {{ tarefa.criacao.day }} / {{ tarefa.criacao.month }} / {{ tarefa.criacao.year }}</small>
            </button>
          {% endif %}
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="modal{{tarefa.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{tarefa.descricao}} | {{tarefa.categorias|capfirst}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                    <a class="btn btn-success" href="{% url 'concluir_tarefa' tarefa.id %}">Concluir</a>
                    <a class="btn btn-danger" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
                    <a class="btn btn-warning" href="{% url 'adiar_tarefa' tarefa.id %}">Adiar Tarefas</a>
                    <a  class="btn btn-primary" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

{% endblock %}
