{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Tarefas adiadas
{% endblock %}
{% block content %}
  <div class="h-100 p-5 bg-light border rounded-3">
    <h1> Tarefas Adiadas </h1>



    <div class="list-group">
      {% for tarefa in tarefas_adiadas_list %}
          <button type="button" class="list-group-item list-group-item-action list-group-item-warning" data-bs-toggle='modal'data-bs-target='#modal{{tarefa.id}}'>
            <h5 class="text-black"> {{ tarefa.descricao }} </h5>
            <small class="text-black">Criado em: {{ tarefa.criacao.day }} / {{ tarefa.criacao.month }} / {{ tarefa.criacao.year }}</small>
          </button>

        <!-- Modal -->
        <div class="modal fade" id="modal{{tarefa.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{tarefa.descricao}} | {{tarefa.categorias|capfirst}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                    <a class="btn btn-success" href="{% url 'mover_para_tarefa' tarefa.id %}">Mover para tarefas</a>
                    <a class="btn btn-danger" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
                    <a  class="btn btn-primary" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <h1>Nenhuma tarefa foi adiada</h1>
      {% endfor %}
    </div>


  </div>


{% endblock %}
